.Pokecard {
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  box-shadow: 0 26px 42px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 10px;
  margin: 1rem;
}

.Pokecard-title {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.Pokecard-data {
  font-size: 80%;
}

.Pokecard-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  margin-bottom: 1rem;
}

.Pokecard img {
  transition: all ease 500ms;
}

.Pokecard img:hover {
  transform: scale(1.15);
  opacity: 0.8;
}
